$btn-close-width: 0.8rem;

@import url("https://fonts.googleapis.com/css?family=Lato");
@import "bootstrap/scss/bootstrap";

html,
body {
  font-family: "Lato", sans-serif;
}

#app {
  font-family: "Lato", sans-serif;
}

.bg-dark-blue {
  background-color: #174877;
}

.text-dark-blue {
  color: #174877;
}

.btn-dark-blue {
  @include button-variant(#174877, #174877, #ffffff, #113555, #113555, #ffffff);
}

.bg-blue {
  background-color: #8dd1e9;
}

.text-blue {
  color: #8dd1e9;
}

.bg-light-blue {
  background-color: #d6f4ff;
}

.text-light-blue {
  color: #d6f4ff;
}

.btn-light-gray {
  @include button-variant(
    #e9ecef,
    #e9ecef,
    #6c757d,
    #f8f9fa,
    #f8f9fa,
    #6c757d,
    #dee2e6,
    #dee2e6,
    #6c757d
  );
}

.bg-pink {
  background-color: #ff8397;
}

.text-pink {
  color: #ff8397;
}

.btn-pink {
  @include button-variant(
    #ff8397,
    #ff8397,
    #ffffff,
    #ff9cac,
    #ff9cac,
    #ffffff,
    #ff5c77,
    #ff5c77,
    #ffffff
  );
}
